Analyst (Strategist).json
{
  "name": "Legal Analyst (Strategist)",
  "nodes": [
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        784,
        2736
      ],
      "id": "cf43c880-a006-4c59-b4d3-172343fa70dc",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "FkDos5q0GPg7lU1d",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=FINAL LEGAL STRATEGY REVIEW — SENIOR PARTNER ANALYSIS\n\nCase ID: {{ $json.case_id }}\nTimestamp: {{ $json.timestamp }}\n\nCLIENT:\n{{ $json.user_name }}\n\nLEGAL TOPIC (DOMAIN): {{ $json.legal_topic }}\nLEGAL ISSUE: {{ $json.legal_issue }}\nUrgency: {{ $json.urgency }}\n\nRAW NARRATIVE:\n{{ $json.legal_narrative || \"No narrative\" }}\n\n--- LAWYER A (ADVOCATE) RECOMMENDATION ---\nStrategy: {{ $json.lawyer_a.recommended_strategy || 'N/A' }}\nCase Assessment: {{ $json.lawyer_a.case_assessment || 'N/A' }}\nLegal Arguments:\n{{ $json.lawyer_a.legal_arguments && $json.lawyer_a.legal_arguments.length ? $json.lawyer_a.legal_arguments.join('\\n') : 'None' }}\nEvidence Gaps:\n{{ $json.lawyer_a.evidence_gaps && $json.lawyer_a.evidence_gaps.length ? $json.lawyer_a.evidence_gaps.join('\\n') : 'None' }}\nWin Probability (A's view): {{ $json.lawyer_a.win_probability || 'N/A' }}\n\n--- LAWYER B (DEVIL'S ADVOCATE) CRITIQUE ---\nCase Assessment: {{ $json.lawyer_b.case_assessment || 'N/A' }}\nCounterarguments:\n{{ $json.lawyer_b.legal_arguments && $json.lawyer_b.legal_arguments.length ? $json.lawyer_b.legal_arguments.join('\\n') : 'None' }}\nEvidence Attacks:\n{{ $json.lawyer_b.evidence_attacks && $json.lawyer_b.evidence_attacks.length ? $json.lawyer_b.evidence_attacks.join('\\n') : 'None' }}\nProcedural Hazards:\n{{ $json.lawyer_b.procedural_hazards && $json.lawyer_b.procedural_hazards.length ? $json.lawyer_b.procedural_hazards.join('\\n') : 'None' }}\nWin Probability (B's view): {{ $json.lawyer_b.win_probability || 'N/A' }} (client's chance of losing)\n\nYOUR TASK AS SENIOR PARTNER:\nThis is a {{ $json.legal_topic }} case. Your analysis MUST stay within {{ $json.legal_topic }} law. Reject any arguments that borrow from unrelated practice areas.\n\n1. DOMAIN CHECK: Before anything else, confirm: \"This is a {{ $json.legal_topic }} matter. All analysis must use {{ $json.legal_topic }} statutes, rules, and jurisprudence.\"\n\n2. Evaluate both lawyers. If either misapplies the law (e.g., uses labor concepts in a criminal case), explicitly note this in your notes and discount their argument.\n\n3. Use the legal_db_search tool. Search queries MUST include \"{{ $json.legal_topic }}\" and the specific legal issue. Example: \"{{ $json.legal_topic }} [specific issue] Philippines\" or \"criminal estafa jurisprudence\".\n\n4. Make the final call. Your recommendation must be a valid legal remedy for a {{ $json.legal_topic }} case.\n\nReturn ONLY valid JSON with these exact fields:\n{\n  \"final_recommendation\": \"SETTLE|TRIAL|DEMAND_LETTER|MEDIATION|ADMINISTRATIVE_COMPLAINT|URGENT_PROTECTION_ORDER|DROP_CASE\",\n  \"approved_strategy\": \"<comprehensive, detailed plan of action, at least several paragraphs, tailored to {{ $json.legal_topic }} law, including procedural steps, evidentiary requirements, and strategic considerations>\",\n  \"win_probability\": \"STRONG|MODERATE|WEAK\",\n  \"priority\": \"HIGH|MEDIUM|LOW\",\n  \"notes\": \"<detailed and precise explanation, NOT brief. Include: (a) where lawyers agreed/disagreed with specific references, (b) any corrected misapplications of law, (c) why your recommendation is appropriate for a {{ $json.legal_topic }} case, (d) key supporting law or precedent found, (e) full legal reasoning and analysis, (f) discussion of evidence strengths/weaknesses, (g) procedural considerations, (h) risk assessment>\"\n}\n\nGuidelines:\n- If procedural hazards are fatal to a {{ $json.legal_topic }} case, DROP_CASE\n- If settlement aligns with {{ $json.legal_topic }} remedies and risks high, SETTLE\n- If {{ $json.legal_topic }} law supports going to trial and evidence is strong, TRIAL\n- Demand letter/Mediation only if valid pre-litigation step in {{ $json.legal_topic }}\n- URGENT_PROTECTION_ORDER only if safety/emergency context applies in {{ $json.legal_topic }} (e.g., family violence, not estafa)\n- ADMINISTRATIVE_COMPLAINT only if government agency has exclusive jurisdiction over this {{ $json.legal_topic }} issue\n- Base win_probability on the weakest points, but within the {{ $json.legal_topic }} framework\n\nIMPORTANT: Your response must be ONLY the JSON object. No other text, explanations, or markdown. Begin your response with '{' and end with '}'.",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are the Senior Partner at JL Laniog Law Firm — an expert legal strategist with deep knowledge of Philippine law across all practice areas (Criminal, Labor, Civil, Family, Property, Corporate, Tax, Intellectual Property, etc.).\n\nCRITICAL: Every case has a specific LEGAL TOPIC (e.g., Criminal, Labor, Civil). You must analyze THIS case strictly within its assigned legal domain. Do NOT mix legal frameworks, precedents, or remedies from other domains. If Lawyer A or B's analysis uses an inappropriate legal framework, correct it.\n\nYour workflow:\n1. Identify the LEGAL TOPIC from the input (e.g., \"Criminal\", \"Labor\").\n2. Review both lawyers' analyses with a skeptical eye — flag any arguments that misapply the law or come from a different practice area.\n3. Use the legal_db_search tool to find Philippine statutes, jurisprudence, and legal principles SPECIFIC TO THE LEGAL TOPIC. Search queries must include the legal topic and specific issues involved.\n4. Synthesize a final strategy that is legally valid FOR THAT DOMAIN. Some recommendation types (e.g., ADMINISTRATIVE_COMPLAINT, URGENT_PROTECTION_ORDER) are only appropriate for certain case types.\n5. Ensure your JSON output reflects a realistic assessment for THIS case type.\n\nNever let the junior lawyers' potential misdirection lead you astray. You are the final check.\n\nANALYSIS REQUIREMENTS:\n- Be detailed and precise, not brief. Your notes must provide comprehensive reasoning.\n- Include specific references to law, rules, or jurisprudence found in your database search.\n- Explain exactly why certain arguments were accepted or rejected.\n- Describe the legal reasoning step-by-step, not just the conclusion.\n- Address all key issues from both lawyers' analyses, even if you disagree.\n- Your approved_strategy field should be a thorough, actionable plan, not a one-line summary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        848,
        2512
      ],
      "id": "d0b9ea19-c816-4126-bf08-67272782a54d",
      "name": "AI Agent (Analyst)"
    },
    {
      "parameters": {
        "amount": 62
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        2512
      ],
      "id": "7c65dc57-2677-4ef3-9ff4-68e705bd14e6",
      "name": "Wait 45s (Groq Rate Limit)",
      "webhookId": "wait-resume-analyst"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyst",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        336,
        2512
      ],
      "id": "ca01ce55-d92e-47fa-88af-39659a77bcea",
      "name": "Analyst Webhook1",
      "webhookId": "analyst-webhook-id"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1120,
        2944
      ],
      "id": "f35c7b86-95b0-4258-939c-9ecf046d2567",
      "name": "Ollama Embeddings1",
      "credentials": {
        "ollamaApi": {
          "id": "d9xNUlM4jtWN158d",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the JL Laniog Law Firm legal database for Philippine laws, jurisprudence, and legal principles relevant to evaluating legal strategies and making final recommendations.\n\nUse this to verify:\n- Which strategies are most effective for the specific legal issue\n- What courts have ruled in similar cases\n- Procedural requirements for different legal remedies\n- Relevant factors in determining win probability\n- Standards for settlement vs trial\n\nExample queries:\n- \"settlement vs trial advantages labor cases\"\n- \"win probability factors estafa cases\"\n- \"demand letter requirements before filing\"\n- \"mediation success rate family law\"\n- \"administrative complaint procedure SEC\"\n\nAlways search before making your final recommendation.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1040,
        2736
      ],
      "id": "a63e3a5c-7e71-4412-8952-b8f464a664bd",
      "name": "Legal DB (Supabase)1",
      "credentials": {
        "supabaseApi": {
          "id": "6UpV0Jy3kBDpbC6M",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Senior Partner Parser (Strategist)\n// Preserves all data for dashboard\n\nconst item = $input.first().json;\nconst intake = $('Analyst Webhook1').item.json.body || $('Analyst Webhook1').item.json;\nconst raw = (item.output || item.text || item.response || \"\").toString().trim();\n\nif (!raw) {\n  return [{\n    json: {\n      ...intake,\n      senior_partner: {\n        final_recommendation: \"ANALYST_UNAVAILABLE\",\n        approved_strategy: \"\",\n        win_probability: \"UNKNOWN\",\n        priority: \"UNKNOWN\",\n        notes: \"Senior Partner analysis failed to produce response.\"\n      },\n      pipeline_status: 'ANALYST_FAILED'\n    }\n  }];\n}\n\nlet cleaned = raw\n  .replace(/```json\\s*/gi, \"\")\n  .replace(/```\\s*/gi, \"\")\n  .trim();\n\nconst jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) cleaned = jsonMatch[0];\n\nlet ai;\ntry {\n  ai = JSON.parse(cleaned);\n} catch (e) {\n  return [{\n    json: {\n      ...intake,\n      senior_partner: {\n        final_recommendation: \"PARSE_ERROR\",\n        approved_strategy: \"\",\n        win_probability: \"UNKNOWN\",\n        priority: \"UNKNOWN\",\n        notes: `JSON parse failed: ${e.message}`\n      },\n      pipeline_status: 'ANALYST_FAILED'\n    }\n  }];\n}\n\n// Validate final_recommendation\nconst VALID_RECOMMENDATIONS = ['SETTLE', 'TRIAL', 'DEMAND_LETTER', 'MEDIATION', 'ADMINISTRATIVE_COMPLAINT', 'URGENT_PROTECTION_ORDER', 'DROP_CASE'];\nconst recommendation = VALID_RECOMMENDATIONS.includes(ai.final_recommendation) ? ai.final_recommendation : 'PENDING';\n\n// Validate priority\nconst VALID_PRIORITIES = ['HIGH', 'MEDIUM', 'LOW'];\nconst priority = VALID_PRIORITIES.includes(ai.priority) ? ai.priority : 'MEDIUM';\n\nreturn [{\n  json: {\n    // Preserve all fields\n    case_id:             intake.case_id,\n    timestamp:           intake.timestamp,\n    submitted_by:        intake.submitted_by,\n    user_name:           intake.user_name,\n    contact_number:      intake.contact_number   || \"\",\n    date_of_birth:       intake.date_of_birth    || \"\",\n    civil_status:        intake.civil_status     || \"\",\n    address:             intake.address          || \"\",\n    occupation:          intake.occupation       || \"\",\n    legal_topic:         intake.legal_topic      || \"\",\n    legal_issue:         intake.legal_issue      || \"\",\n    incident_date:       intake.incident_date    || \"\",\n    opposing_party:      intake.opposing_party   || \"\",\n    urgency:             intake.urgency          || \"MEDIUM\",\n    legal_narrative:     intake.legal_narrative  || \"\",\n    clerk_notes:         intake.clerk_notes      || \"\",\n    ai_summary:          intake.ai_summary       || \"\",\n    case_theory:         intake.case_theory      || \"\",\n    documents_submitted: intake.documents_submitted || [],\n    documents_needed:    intake.documents_needed    || [],\n    attachments_meta:    intake.attachments_meta   || [],\n    document_urls:       intake.document_urls      || [],\n    lawyer_a:            intake.lawyer_a         || null,\n    lawyer_b:            intake.lawyer_b         || null,\n\n    // Senior Partner final analysis\n    senior_partner: {\n      final_recommendation: recommendation,\n      approved_strategy:   ai.approved_strategy   || \"\",\n      win_probability:     ai.win_probability     || \"UNKNOWN\",\n      priority:            priority,\n      notes:               ai.notes               || \"\"\n    },\n\n    pipeline_status: 'COMPLETE'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        2512
      ],
      "id": "fd461776-b650-4528-bed5-e851059cb792",
      "name": "Parse & Format Output1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cases",
        "filters": {
          "conditions": [
            {
              "keyName": "case_id",
              "condition": "eq",
              "keyValue": "={{ $json.case_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "pipeline_status",
              "fieldValue": "={{ $json.pipeline_status }}"
            },
            {
              "fieldId": "senior_partner",
              "fieldValue": "={{ $json.senior_partner }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1632,
        2512
      ],
      "id": "ed603d0d-624c-481a-aebd-873e2b3d914e",
      "name": "Save senior_partner to Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "YjOL2NYwLrO3tdr0",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b-instruct-q4_K_M",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        912,
        2736
      ],
      "id": "3a1deffa-6eea-4408-8bbc-0c3c50581c5f",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "d9xNUlM4jtWN158d",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent (Analyst)": {
      "main": [
        [
          {
            "node": "Parse & Format Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Analyst)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait 45s (Groq Rate Limit)": {
      "main": [
        [
          {
            "node": "AI Agent (Analyst)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Webhook1": {
      "main": [
        [
          {
            "node": "Wait 45s (Groq Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings1": {
      "ai_embedding": [
        [
          {
            "node": "Legal DB (Supabase)1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Legal DB (Supabase)1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Analyst)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Format Output1": {
      "main": [
        [
          {
            "node": "Save senior_partner to Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Analyst)",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2fbc1ffe-8fba-45c7-86d3-3f2cf472528b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d15b01065c3cc47a5c693bea54c139dca8f96b46f96de462646844662cd74c5d"
  },
  "id": "eqbXr-BFyRfS3CmQxt6em",
  "tags": [
    {
      "updatedAt": "2026-03-13T04:43:07.909Z",
      "createdAt": "2026-03-13T04:43:07.909Z",
      "id": "Yh6tLRUzeSibDLyW",
      "name": "LEX"
    }
  ]
}