LEX Ingestion.json
{
  "name": "LEX Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lex-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4000,
        1088
      ],
      "id": "6b427ab3-a725-49f6-a856-1feebfbe9232",
      "name": "LEX Ingest Webhook",
      "webhookId": "lex-ingest-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// LexFlow — LEX Ingestion Validator\n// Validates required fields from the POST body\n\nconst item = $input.first().json;\nconst body = item.body || item;\n\n// Required fields\nif (!body.file_id) {\n  throw new Error('Validation failed: file_id is required (Google Drive file ID)');\n}\nif (!body.law_title) {\n  throw new Error('Validation failed: law_title is required');\n}\n\n// Build clean payload with defaults\nconst payload = {\n  file_id:   body.file_id.trim(),\n  law_title: body.law_title.trim(),\n  source:    (body.source || 'Official Gazette').trim(),\n  year:      (body.year || String(new Date().getFullYear())).trim(),\n  category:  (body.category || 'General').trim(),\n  notes:     (body.notes || '').trim()\n};\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3776,
        1088
      ],
      "id": "ac5b782b-b39b-43cb-951c-f9cf38de7e43",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "jsCode": "// LexFlow — Duplicate Check\n// Queries Supabase to see if this law_title already has embeddings stored.\n// Prevents double-ingestion of the same document.\n\nconst item = $input.first().json;\nconst supabaseUrl = process.env.SUPABASE_URL || 'https://ncvlpqbevllqwrpdauxi.supabase.co';\nconst supabaseKey = process.env.SUPABASE_SERVICE_KEY || 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5jdmxwcWJldmxscXdycGRhdXhpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjE1NTk2NiwiZXhwIjoyMDg3NzMxOTY2fQ.Cs5k-uKtxyiTejLzsrpJllPg3-cZ6qvFDSjEdEVnBMU';\n\nif (!supabaseKey) {\n  // No credentials — skip duplicate check and proceed\n  return [{ json: { ...item, _duplicate: false, _existing_count: 0 } }];\n}\n\ntry {\n  const encodedTitle = encodeURIComponent(item.law_title);\n  const res = await fetch(\n    `${supabaseUrl}/rest/v1/documents?select=id&metadata->>law_title=eq.${encodedTitle}&limit=1`,\n    {\n      headers: {\n        'Authorization': `Bearer ${supabaseKey}`,\n        'apikey': supabaseKey\n      }\n    }\n  );\n\n  if (!res.ok) {\n    // If check fails, proceed anyway — don't block ingestion\n    return [{ json: { ...item, _duplicate: false, _check_error: await res.text() } }];\n  }\n\n  const rows = await res.json();\n  const isDuplicate = rows.length > 0;\n\n  return [{ json: { ...item, _duplicate: isDuplicate, _existing_count: rows.length } }];\n\n} catch (e) {\n  // Network error — proceed anyway\n  return [{ json: { ...item, _duplicate: false, _check_error: e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3552,
        1088
      ],
      "id": "e57e7831-1ea9-4d2c-8585-3e2d787d2bc3",
      "name": "Check for Duplicate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dup-check",
              "leftValue": "={{ $json._duplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3328,
        1088
      ],
      "id": "25b01752-7e72-42bf-b880-4cbeedc1af8c",
      "name": "Already Ingested?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'SKIPPED', law_title: $json.law_title, message: 'This document is already in the LEX database. Delete existing embeddings first if you want to re-ingest.', existing_chunks: $json._existing_count }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3104,
        992
      ],
      "id": "95759c5d-c7ad-4c3f-b13d-53073beb8f30",
      "name": "Respond — Already Exists"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3104,
        1184
      ],
      "id": "22b6de50-555c-45bd-975f-69c2631e65d1",
      "name": "Download from Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bo00k39YvTfTSkGW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -2880,
        1184
      ],
      "id": "3f12056b-29bd-49d1-adc1-81f4ae484c58",
      "name": "Extract PDF Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clean-text-field",
              "name": "clean_text",
              "value": "=={{ (function() {\n  const rawText = $json.text || '';\n\n  // Preserve PREAMBLE section\n  const parts = rawText.split(/PREAMBLE/i);\n  let result = parts.length > 1\n    ? 'PREAMBLE ' + parts.slice(1).join('PREAMBLE')\n    : rawText;\n\n  // Roman numeral converter\n  function romanToInt(roman) {\n    const map = { 'I':1,'V':5,'X':10,'L':50,'C':100,'D':500,'M':1000 };\n    let val = 0;\n    const r = roman.toUpperCase();\n    for (let i = 0; i < r.length; i++) {\n      const curr = map[r[i]];\n      const next = map[r[i+1]];\n      if (!curr) return null;\n      val += (next && curr < next) ? -curr : curr;\n    }\n    return val;\n  }\n\n  // Convert Roman numerals after legal keywords\n  result = result.replace(\n    /\\b(Article|Section|Chapter|Rule|Part|Title|Schedule|Annex)\\s+([IVXLCDM]+)\\b/gi,\n    (match, keyword, roman) => {\n      const num = romanToInt(roman);\n      return num ? `${keyword} ${num} (${roman})` : match;\n    }\n  );\n\n  return result\n    .replace(/\\u0000/g, '')\n    .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')\n    .replace(/HOME \\(HTTPS.*?\\)/gi, '')\n    .replace(/GOVPH \\(.*?\\)/gi, '')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n})() }}",
              "type": "string"
            },
            {
              "id": "law-title-field",
              "name": "law_title",
              "value": "={{ $('Validate Input').item.json.law_title }}",
              "type": "string"
            },
            {
              "id": "source-field",
              "name": "source",
              "value": "={{ $('Validate Input').item.json.source }}",
              "type": "string"
            },
            {
              "id": "year-field",
              "name": "year",
              "value": "={{ $('Validate Input').item.json.year }}",
              "type": "string"
            },
            {
              "id": "category-field",
              "name": "category",
              "value": "={{ $('Validate Input').item.json.category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2656,
        1184
      ],
      "id": "30f4000f-644a-45c9-b790-18e95f97e1ce",
      "name": "Clean & Enrich Text"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2400,
        1184
      ],
      "id": "b30aa052-f93c-408b-801c-adcdd81d39e2",
      "name": "Store in Supabase Vector DB",
      "credentials": {
        "supabaseApi": {
          "id": "YjOL2NYwLrO3tdr0",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -2432,
        1408
      ],
      "id": "2c69648b-5be3-4e66-be6d-dbd7c0b8caf4",
      "name": "Ollama Embeddings",
      "credentials": {
        "ollamaApi": {
          "id": "d9xNUlM4jtWN158d",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.clean_text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "law_title",
                "value": "={{ $json.law_title }}"
              },
              {
                "name": "source",
                "value": "={{ $json.source }}"
              },
              {
                "name": "year",
                "value": "={{ $json.year }}"
              },
              {
                "name": "category",
                "value": "={{ $json.category }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -2304,
        1408
      ],
      "id": "f1ddd7a1-e91e-4e24-b1d0-2d38f3a2a1dd",
      "name": "Document Data Loader"
    },
    {
      "parameters": {
        "jsCode": "// LexFlow — Log ingestion to lex_ingestion_log table\n// Records what was ingested and when for audit trail.\n// If the table doesn't exist yet, this fails silently — won't break the workflow.\n\nconst item = $input.first().json;\nconst supabaseUrl = process.env.SUPABASE_URL || 'https://ncvlpqbevllqwrpdauxi.supabase.co';\nconst supabaseKey = process.env.SUPABASE_SERVICE_KEY || 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5jdmxwcWJldmxscXdycGRhdXhpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjE1NTk2NiwiZXhwIjoyMDg3NzMxOTY2fQ.Cs5k-uKtxyiTejLzsrpJllPg3-cZ6qvFDSjEdEVnBMU';\n\nif (!supabaseKey) {\n  return [{ json: { ...item, _log_status: 'skipped — no credentials' } }];\n}\n\nconst logEntry = {\n  law_title:  item.law_title,\n  source:     item.source,\n  year:       item.year,\n  category:   item.category,\n  file_id:    item.file_id || '',\n  ingested_at: new Date().toISOString(),\n  status:     'SUCCESS'\n};\n\ntry {\n  const res = await fetch(`${supabaseUrl}/rest/v1/lex_ingestion_log`, {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${supabaseKey}`,\n      'apikey': supabaseKey,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal'\n    },\n    body: JSON.stringify(logEntry)\n  });\n  return [{ json: { ...item, _log_status: res.ok ? 'logged' : `failed: ${res.status}` } }];\n} catch (e) {\n  return [{ json: { ...item, _log_status: `error: ${e.message}` } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        1184
      ],
      "id": "0cfd8f22-91b3-466e-a8be-7c28f734db0c",
      "name": "Log Ingestion"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status:    'SUCCESS',\n  law_title: $json.law_title,\n  source:    $json.source,\n  year:      $json.year,\n  category:  $json.category,\n  message:   'Document successfully ingested into LEX database.',\n  log:       $json._log_status || 'not logged'\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1712,
        1184
      ],
      "id": "c53060a5-e9a9-499c-bf8d-bb9f808b591f",
      "name": "Respond — Success"
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 300,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2224,
        1616
      ],
      "id": "ba41ed33-464d-4cb4-bf90-60f35d940651",
      "name": "Recursive Character Text Splitter1"
    }
  ],
  "pinData": {},
  "connections": {
    "LEX Ingest Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check for Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicate": {
      "main": [
        [
          {
            "node": "Already Ingested?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Ingested?": {
      "main": [
        [
          {
            "node": "Respond — Already Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from Google Drive": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Clean & Enrich Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Enrich Text": {
      "main": [
        [
          {
            "node": "Store in Supabase Vector DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Supabase Vector DB": {
      "main": [
        [
          {
            "node": "Log Ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Ingestion": {
      "main": [
        [
          {
            "node": "Respond — Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Store in Supabase Vector DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Data Loader": {
      "ai_document": [
        [
          {
            "node": "Store in Supabase Vector DB",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f4a71d8a-16e6-40ca-a80b-6deb5ebad165",
  "meta": {
    "instanceId": "d15b01065c3cc47a5c693bea54c139dca8f96b46f96de462646844662cd74c5d"
  },
  "id": "F5SD7YqD73bjBqsxzIffN",
  "tags": [
    {
      "updatedAt": "2026-03-13T04:43:07.909Z",
      "createdAt": "2026-03-13T04:43:07.909Z",
      "id": "Yh6tLRUzeSibDLyW",
      "name": "LEX"
    }
  ]
}