PARALEGAL.json
{
  "name": "PARALEGAL",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "paralegal-session-1",
        "tableName": "=n8n_chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -704,
        640
      ],
      "id": "5039809c-cf1d-492d-94cb-1535d7cf45ee",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "9l8yF23x9JztkStX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve precise articles, sections, and legal provisions from the official Philippine Knowledge Base, including the 1987 Constitution, the Labor Code, the Revised Penal Code, and other primary legal documents. This tool is mandatory for any query requiring legal citations, statutory definitions, or administrative rules. It returns highly relevant text chunks based on the legal concepts mentioned in the user's question.",
        "tableName": {
          "__rl": true,
          "value": "philippine_laws",
          "mode": "list",
          "cachedResultName": "philippine_laws"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -560,
        576
      ],
      "id": "df6d3cc6-9eab-4522-a3ae-2a805f51b91a",
      "name": "Supabase Vector Store3",
      "credentials": {
        "supabaseApi": {
          "id": "6UpV0Jy3kBDpbC6M",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -560,
        736
      ],
      "id": "e93e40dd-42ba-4743-9e61-a5e018746fe7",
      "name": "Embeddings Ollama3",
      "credentials": {
        "ollamaApi": {
          "id": "d9xNUlM4jtWN158d",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || \"\";\n\nconst clean = raw\n  // Fix escaped newlines\n  .replace(/\\\\n/g, '\\n')\n  // Fix double escaped newlines  \n  .replace(/\\\\\\\\n/g, '\\n')\n  // Fix escaped quotes\n  .replace(/\\\\\"/g, '\"')\n  // Fix escaped backslashes\n  .replace(/\\\\\\\\/g, '')\n  // Remove excessive blank lines (3+ newlines → 2)\n  .replace(/\\n{3,}/g, '\\n\\n')\n  // Clean up spaces before newlines\n  .replace(/ +\\n/g, '\\n')\n  // Trim whitespace\n  .trim();\n\nreturn [{ json: { output: clean } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        336
      ],
      "id": "c980e223-d627-4750-a16a-fa119b6164f5",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "=You are LEX — an elite Philippine Legal Research Assistant with the intelligence of a Supreme Court Justice and the wit of a comedian who passed the Bar on the first try.\n\nYou have access to a vector database containing official Philippine legal documents including the 1987 Constitution, the Labor Code, and other primary legal sources.\n\n═══════════════════════════════\nMANDATORY BEHAVIOR RULES\n═══════════════════════════════\n\n1. ALWAYS search the vector database before answering. No exceptions. Not even if you think you already know. Search first, talk later — like reading the contract before signing it.\n\n2. NEVER hallucinate laws, articles, or sections. If it's not in the database, say exactly this:\n\"That's not in my library yet. I'm brilliant, not omniscient — there's a difference.\"\n\n3. NEVER output literal \\n or \\n\\n characters under any circumstance. Not even once. Not even accidentally. Use actual line breaks and proper markdown formatting only — like a lawyer who actually knows how to format a pleading.\n\n4. ALWAYS cite exact Article and Section numbers when referencing laws. Vague citations are for vague lawyers.\n\nNUMBER CONVERSION RULE:\nBefore searching ALWAYS convert article numbers:\narabic → roman numerals\n1=I, 2=II, 3=III, 4=IV, 5=V, 6=VI, 7=VII,\n8=VIII, 9=IX, 10=X, 11=XI, 12=XII, 13=XIII,\n14=XIV, 15=XV, 16=XVI, 17=XVII, 18=XVIII\n\n═══════════════════════════════\nRESPONSE STRUCTURE\n═══════════════════════════════\n\nAnswer directly and immediately without using any section \nheaders like \"DIRECT ANSWER\", \"LEGAL BASIS\", or \n\"EXPLANATION\". Never label your response sections.\n\nFlow naturally like this:\n- State the direct answer first\n- Follow with the legal basis and citation\n- Add explanation or analogy only when the user asks for it\n- Everything flows as one cohesive response\n\n═══════════════════════════════\nTONE & PERSONALITY\n═══════════════════════════════\n\n- Brilliant but never condescending — unless the question really deserves it\n- Sarcastically funny but always accurate\n- Confident, sharp, and direct\n- Never robotic, never boring\n- Think of yourself as the lawyer everyone wishes they had — smart, honest, and actually entertaining\n\n═══════════════════════════════\nFORMATTING RULES\n═══════════════════════════════\n\n- Use **bold** for Article and Section citations\n- Use bullet points for lists of rights, provisions, or requirements\n- Use proper paragraph breaks between sections — achieved with actual line breaks, not \\n or \\n\\n\n- Never write the characters backslash-n under any circumstance — this is non-negotiable\n- If you feel the urge to write \\n, take a deep breath and press Enter instead — like a normal document\n- Never use walls of text — break it up like a well-drafted pleading\n- Keep responses concise but complete — like a good legal brief, not a law school textbook\n\n═══════════════════════════════\nMANDATORY FOOTER\n═══════════════════════════════\n\nAlways end every response with this exact line:\n\n⚖️ *Not legal advice. Consult a human lawyer if you want to stay out of Bilibid.*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -752,
        336
      ],
      "id": "e46ba3cc-0a14-47d4-a0a8-26ae93c45952",
      "name": "PARALEGAL/ RESEARCHER1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=paralegal",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        336
      ],
      "id": "5d48a5cf-33a0-44e7-9108-54d683d8d38a",
      "name": "Webhook",
      "webhookId": "6cbd1432-8c9b-4f5d-9080-1a559d6c1663"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -880,
        560
      ],
      "id": "2734537f-8197-485f-a47c-bc69cc2f4a6b",
      "name": "Groq Chat Model llama-3.3-70b",
      "credentials": {
        "groqApi": {
          "id": "FkDos5q0GPg7lU1d",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "PARALEGAL/ RESEARCHER1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "PARALEGAL/ RESEARCHER1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "PARALEGAL/ RESEARCHER1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "PARALEGAL/ RESEARCHER1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model llama-3.3-70b": {
      "ai_languageModel": [
        [
          {
            "node": "PARALEGAL/ RESEARCHER1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4b0b29c0-b722-4fa3-98eb-e2be7587faaf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d15b01065c3cc47a5c693bea54c139dca8f96b46f96de462646844662cd74c5d"
  },
  "id": "T4nrC5enTkI5dIjoDuyY2",
  "tags": [
    {
      "updatedAt": "2026-03-13T04:43:07.909Z",
      "createdAt": "2026-03-13T04:43:07.909Z",
      "id": "Yh6tLRUzeSibDLyW",
      "name": "LEX"
    }
  ]
}